<!DOCTYPE html>
<html>
<head>
   
</head>
<style>

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  padding: 10px;
  margin-top: 20px;
  width:100%;
  font-size: 20px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 6px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 0px;
  margin-bottom: -20px;
  background: #ddd;

  width:100%;
  font-size: 20px;
}
 iframe {
    position: absolute;
    top: 120px; /* 원하는 수직 위치(px) 설정 */
    left: 35px; /* 원하는 수평 위치(px) 설정 */
  }
</style>


<body>


<div class="topnav">
  <a href="http://localhost:5286/NewsCRUD/Search?titleQuery=&areaQuery=%EC%84%9C%EC%9A%B8">서울</a>
  <a href="http://localhost:5286/NewsCRUD/Search?titleQuery=&areaQuery=%EA%B2%BD%EA%B8%B0%EB%8F%84">경기도</a>
  <a href="http://localhost:5286/NewsCRUD/Search?titleQuery=&areaQuery=%EA%B0%95%EC%9B%90%EB%8F%84">강원도</a>
  <a href="http://localhost:5286/NewsCRUD/Search?titleQuery=&areaQuery=%EC%B6%A9%EC%B2%AD%EB%8F%84">충청도</a>
  <a href="http://localhost:5286/NewsCRUD/Search?titleQuery=&areaQuery=%EC%A0%84%EB%9D%BC%EB%8F%84">전라도</a>
  <a href="http://localhost:5286/NewsCRUD/Search?titleQuery=&areaQuery=%EA%B2%BD%EC%83%81%EB%8F%84">경상도</a>
  <a href="http://localhost:5286/NewsCRUD/Search?titleQuery=&areaQuery=%EC%A0%9C%EC%A3%BC%EB%8F%84">제주도</a>

</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2></h2>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr><tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <iframe width="900" height="500" src="https://www.youtube.com/embed/JzVVm6kT1JU"></iframe>
                
    </div>
    
  </div>
  <div class="rightcolumn">
    <div class="card">

                    <h2>지역별 뉴스 배너</h2>
                    <tr>
                        <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                    </tr>
                    <div class="image">
                        <a href="https://www.seoul.co.kr/"><img src="~/images/서울일보.png" alt="Sample Photo" width="200" height="60" /></a>
                    </div>
                    <tr>
                        <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                    </tr>
                    <div class="image">
                        <a href="https://www.kgnews.co.kr/"><img src="~/images/경기신문.png" alt="Sample Photo" width="200" height="60" /></a>
                    </div>
                    <tr>
                        <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                    </tr>
                    <div class="image">
                        <a href="https://www.kwnews.co.kr/"><img src="~/images/강원도민일보.png" alt="Sample Photo" width="200" height="60" /></a>
                    </div>
                    <tr>
                        <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                    </tr>
                    <div class="image">
                        <a href="https://www.ccdailynews.com/"><img src="~/images/충청일보.png" alt="Sample Photo" width="200" height="60" /></a>
                    </div>
                    <tr>
                        <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                    </tr>
                    <div class="image">
                        <a href="https://www.jeollailbo.com/"><img src="~/images/전남일보.png" alt="Sample Photo" width="200" height="60" /></a>
                    </div>
                    <tr>
                        <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                    </tr>
                    <div class="image">
                        <a href="https://www.ksilbo.co.kr/"><img src="~/images/경상일보.png" alt="Sample Photo" width="200" height="60" /></a>
                    </div>
                    <tr>
                        <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                    </tr>
                    <div class="image">
                        <a href="http://www.jejunews.com/"><img src="~/images/제주도민일보.png" alt="Sample Photo" width="200" height="60" /></a>
                    </div>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                <tr>
                    <td><br><br></td> <!-- 공백만큼 줄바꿈 -->
                </tr>
                </div>
    </div>
  </div>
</div>
</body>
</html>


